{% extends 'base.html' %}

{% load static %}
{% block title %}Home{% endblock %}



{% block content %}
    {# cards with Cycling events#}
    <div class="my_cards">
        {% for event in events %}
            <div class="card border-dark mb-3" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/{{ forloop.counter }}.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ event.event_name }}</h5>
                    <p class="card-text">{{ event.event_description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Distance: {{ event.distance }}</li>
                    <li class="list-group-item">Prize pool: {{ event.prize_pool }}$</li>
                    <li class="list-group-item">Date: {{ event.event_date }}</li>
                </ul>
                <div class="card-footer">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#register_for_a_ride">
                        Register for a ride
                    </button>
                    <form method="post">
                        {#                    modal #}
                        <div class="modal" tabindex="-1" role="dialog" id="register_for_a_ride">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" method="post" id="register_for_a_ride_form">
                                            {% csrf_token %}
                                            <form>
                                                <div class="form-group">
                                                    <label for="formGroupExampleInput">Enter your full name: </label>
                                                    <input type="text" class="form-control" id="formGroupExampleInput"
                                                           name="full_name_register_for_a_ride"
                                                           placeholder="Viktor Korneplod">
                                                    <label for="formGroupExampleInput">Enter your email: </label>
                                                    <input type="email" class="form-control" id="formGroupExampleInput"
                                                           name="email_register_for_a_ride"
                                                           placeholder="example@example.com">
                                                </div>
                                                {#                                            <button type="submit" class="btn btn-primary">Submit</button>#}
                                            </form>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}